REACT_APP_REFRESH_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJleHAiOjE2OTg5MjM5NjIsImlhdCI6MTY5ODMxOTE2MiwidXNlcklkIjoiMmUxMTlkYjktZTk2MC00YmI2LTkzZGQtNzQ5NDFkNTY5Y2E3Iiwic3RhZ2VzIjpbIlJFRlJFU0hfU0VTU0lPTiJdLCJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwidGVuYW5jeSI6IlVLIiwiZGV2aWNlSWQiOiJmMjJhMDk4OS01MTc5LTQ4NDAtODBhZi0wMzEwMjBjM2VlYTQiLCJyZWxhdGlvbnNoaXBJZCI6Ijg4ZWE1ZWE1LWYyYmQtNDBjMi1hNGQwLWUzNmQ1MzRjNTJlYSIsImFjY291bnRUeXBlIjoiVUtOUiIsImp0aSI6IjJiNmJlMmMyLTM1YjctNDdjMi04Y2FlLWZhN2RmYTEwOWNiYSJ9.sQKkMKLVRi4ZzMWh5V36RUk6RxKoSHq9-D5ICx46rvInnrm41wdq1VvCK2JzzZVywJiG5zrYsDftQe_gYeJ83WLM39tVbM1dtz9A8ZK_RbIGXCUabnm8ZCnEvcFQfl4CrGRDlYaZwXRgXp3sqd6LNE39jrWeEo8HBUE_49Dlwxz1BTMR6SiNuD9zNnqhvK9edfGhZsN9NA2dms3LV61-AbTnSrN7gmBdOexnZBUeI1r7GvvckqYObwVb_45dBxhLrUGVDc_da_MRvOC0hGkIrKAOUzn5X8BVsJq0pvhttkmWnjBoKK9wQGBYiY8y7vCXLz0LnS_fwS9w9D_wkNx-2A
REACT_APP_ACCOUNT_ID=7a1092fc-0e5d-4ae3-8951-61a5f36fbef9
REACT_APP_BASE_URL=https://app.uat.eu.witty.zone/
REACT_APP_ENVIRONMENT='development'
REACT_APP_GOOGLE_RECAPTHA_SITEKEY=""
