.Error-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 88rem;
  margin: 7rem auto;
  padding-left: 2rem;
  padding-right: 2rem;

  > section {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
  }

  > footer {
    margin-top: 6rem;
    padding-top: 4rem;
    border-top: 0.1rem solid #C1CCDA;
  }

  pre {
    margin: 0.5rem 0 4rem;
    padding: 2rem;
    overflow-x: auto;
    border-radius: 0.5rem;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    tab-size: 4;
    background-color: #F3F5F8;
    color: #000000;
  }
}
